@keyframes show {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 40px;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    height: 40px;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

@keyframes search {
  0% {
    transform: rotate(0deg) translateY(10px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(10px) rotate(-360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide {
  0% {
    bottom: 0;
    opacity: 0;
  }

  20%,
  40%,
  80% {
    bottom: 40px;
    opacity: 1;
  }

  100% {
    bottom: 40px;
    opacity: 0;
  }
}

@keyframes contextmenu {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 0.6;
    transform: translateX(0);
  }
}
