// Mobile

@media (width < 500px) {
  #education ul li span .full {
    display: none;
  }
}

@media (width >= 500px) {
  #education ul li span .abbr {
    display: none;
  }
}

@media (width < 510px) {
  #project .image {
    height: 200px;
  }
}

@media (width >= 510px) {
  #project .image {
    height: 290px;
  }
}

@media (width < 650px) {
  button.zoom {
    display: none !important;
  }
}
