@font-face {
  font-family: 'snByulByul';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.6/snByulByul.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'snByulByul';
  font-size: 22px;
}

html {
  padding: 30px;
  background-color: #f4eeff;
}

body {
  width: 100%;
  height: 100%;
}

main .icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #a6b1e1;
}

main .icon img {
  width: 50px;
  height: 50px;
}

/* footer {
  height: 40px;
  width: 100%;
  background-color: #a6b1e1;
  position: fixed;
  bottom: 0;
  left: 0;
} */

.window {
  width: 600px;
  height: 600px;
  background-color: #a6b1e1;
  border-radius: 20px;
  border: 5px solid #a6b1e1;
}

.window .title {
  background-color: #DCD6F7; /* #c8bfe7; */
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  height: 40px;
  color: #a6b1e1; 
  text-shadow: 1px 1px 0px #ffffff, -1px -1px 0px #ffffff, 1px -1px 0px #ffffff, -1px 1px 0px #ffffff;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.window .menu {
  display: grid;
  grid-template-columns: 60px 60px 60px 1fr;
  height: 60px;
  margin: 5px 0;
  gap: 5px;
}

.window .menu button {
  border-radius: 6px;
  border: none;
  font-family: 'snByulByul';
  font-size: 20px;
}

.window .menu button:nth-child(1) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.window .menu button:nth-last-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.window .body {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: calc(100% - 45px);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  color: #a6b1e1;
}

.size-controller {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
}

.blog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  height: 100%;
  background-color: #f6f6f6 !important;
  overflow-y: scroll;
  padding: 15px;
}

.blog::-webkit-scrollbar {
  display: none;
}

.blog section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  height: 15px;
  background-color: #f6f6f6;
}

.border-radius-16 {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}


.scrollbutton {
  position: absolute;
  top: 55px;
  right: 7px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 5px solid #DCD6F7;
  border-radius: 50%;
}


.post {
  width: 410px;
  height: fit-content;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-sizing: border-box;
  color: #a6b1e1;
  position: relative;
  text-align: left;
  line-height: 1.3;
  font-size: 22px;
}

figure {
  margin: 0;
}

.date {
  color: #C8BFE7;
  font-size: 16px;
  margin: 0;
  margin-top: 20px;
  text-align: right;
}

#post {
  width: 560px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  border: 5px solid #C8BFE7;
}

.flex-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.flex-2 img {
  width: 100%;
}

.write {
  background-color: #f6f6f6;
  height: 100%;
  padding: 15px;
}

.write .grid-2 {
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.write input {
  width: 100%;
  border-radius: 12px;
  font-family: 'snByulByul';
  font-size: 22px;
  color: #a6b1e1;
  outline: none;
  border: none;
  line-height: 1.3;
  padding: 10px 15px;
}

.write img {
  width: 40px;
  filter: invert(87%) sepia(5%) saturate(1476%) hue-rotate(208deg) brightness(99%) contrast(95%);
}

.write img:hover {
  filter: invert(72%) sepia(95%) saturate(538%) hue-rotate(358deg) brightness(101%) contrast(105%);
}

.write textarea {
  width: 100%;
  height: calc(100% - 64px);
  border: none;
  border-radius: 16px;
  resize: none;
  outline: none;
  font-family: 'snByulByul';
  font-size: 22px;
  color: #a6b1e1;
  padding: 15px;
  line-height: 1.3;
}

.write textarea::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  border-radius: 16px;
}

.write textarea::-webkit-scrollbar-thumb {
  background-color: #DCD6F7;
  border-radius: 16px;
}