* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $base-color;
  overflow: hidden;
  user-select: none;
  color: $text-color;
  font-family: 'galmuri9';
  letter-spacing: 1px;
  font-size: 14px;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#root {
  @extend .scroll;
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
  height: 100vh;
  overflow-x: hidden;

  #container {
    @extend .base-view;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-start;
    transform: scale(1);
    transform-origin: top;
    align-items: center;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;

      img {
        width: 110px;
        margin: 30px 0 20px 0;
        filter: grayscale(1) brightness(90%);
      }

      h1 {
        margin: 0;
        font-size: 20px;
        font-family: 'galmuri11';
        letter-spacing: 2px;
      }
    }

    #body {
      display: grid;
      gap: 30px;
      height: 100%;
      margin: 0 auto;

      > div {
        height: inherit;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }

    footer {
      padding: 15px 0;
      text-align: center;

      span {
        font-size: 12px;
        letter-spacing: 1px;
        opacity: 0.6;
        margin: 3px 0;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      filter: $image-filter;
    }
  }
}

#root.mobile {
  #profile {
    .view {
      gap: 6px !important;
    }
  }

  .wrapper {
    #education,
    #certification {
      .item {
        align-items: flex-start;

        .text {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }
      }
    }
  }

  #project {
    .view {
      .summary {
        .details {
          gap: 8px;
        }
      }
    }
  }
}

#profile {
  .view {
    @extend .base-view;
    text-align: center;

    p {
      margin: 0;
    }
  }
}

.wrapper {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  #resume,
  #career {
    .text {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

#archive {
  .view {
    height: 200px;

    .searching {
      @include screen-for-waiting(search);
    }
    
    .loading {
      @include screen-for-waiting(rotate);
    }
    
    .list {
      height: 100%;
      @extend .scroll;
      @extend .base-view;
      
      .item:not(.disabled) {
        flex-wrap: wrap;

        &:hover {
          cursor: pointer;
          text-decoration: underline;

          .text button {
            display: block;
          }
        }

        .text {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 100%;
        }

        span {
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: calc(100% - 40px);
          overflow: hidden;
        }

        button {
          opacity: 0.4;
          display: none;

          &.pencil {
            @include icon(pencil);
          }
      
          &.trash {
            @include icon(trash);
          }
        }
      }
    }
  }
}

#skills {
  .view {
    @extend .base-view;

    .text {
      display: inline-grid;
      grid-template-columns: 90px 20px 1fr;
    }
  }
}

#work {
  .view {
    @extend .base-view;

    .details {
      margin-left: 27px;

      .divider::after {
        content: '|';
        display: inline-block;
        color: #dddddd40;
        text-align: center;
        margin: 0 6px;
      }
    }

    .tasks {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;

      span {
        opacity: 0.6;
        margin-left: 27px;
      }
    }
  }
}

#project {
  .view {
    height: calc(100% - 16px);
    display: grid;
    grid-template-rows: 290px 1fr 14px;
    gap: 10px;

    .image {
      @extend .flex-center;
      @extend .bg-image-center;
      width: 100%;
      transition: 500ms;
      background-color: #00000030;
      filter: grayscale(1) opacity(0.7);

      &.color {
        filter: none;
      }
    }

    .summary {
      @extend .base-view;

      a {
        color: $text-color;
        text-decoration: none;
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 10px;

        span {
          opacity: 0.6;
          margin-left: 27px;
        }
      }
    }

    .paging {
      @extend .label;
      display: flex;
      justify-content: right;
      width: 100%;
      align-items: center;
      background-color: transparent;
      margin-top: 10px;

      div {
        display: inline-flex;
        align-items: center;

        button {
          @extend .bg-image-center;
          @include icon(arrow-right-normal);
          background-size: auto !important;
          padding: 0;

          &:first-child {
            transform: rotate(-180deg);
          }

          &:disabled {
            opacity: 0.3;
          }
        }

        span {
          display: inline-block;
          width: 40px;
          text-align: center;
        }
      }
    }
  }
}

#contact {
  .view {
    @extend .base-view;

    .text {
      a {
        color: $text-color;
      }
    }
  }
}

#article {
  @extend .shadow;
  background-color: #00000070;

  transform-origin: center;
  z-index: 10;

  .loading,
  .updating {
    position: absolute;
    background-color: #00000070;
    z-index: 12;
    width: 100%;

    img {
      width: 36px !important;
      height: 36px !important;
    }
  }

  .loading {
    @include screen-for-waiting(search);
  }

  .updating {
    @include screen-for-waiting(rotate);
  }

  .article {
    width: 100%;
    margin: 0;
    border: $base-border;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 40px 1fr;
    transition: 600ms;
    max-width: 900px;

    * {
      font-family: 'Noto Sans KR';
      outline: none;
    }

    > header {
      display: flex;
      align-items: center;
      justify-content: right;
      width: 100%;
      height: 40px;
      background-color: white;
      z-index: 11;
      padding: 10px 20px;

      .buttons {
        display: flex;
        gap: 20px;

        button {
          @extend .bg-image-center;
          filter: none !important;
          background-size: 18px !important;

          &:hover {
            transform: scale(1.3);
          }

          &.highlight {
            @include icon(magic-wand);
          }

          &.trash {
            @include icon(trash);
          }

          &.mode {
            @include icon(switch);
            background-size: 16px !important;
          }

          &.info {
            @include icon(info);
          }

          &.close {
            @include icon(close);
          }
        }
      }

      .bubble {
        position: absolute;
        background-color: #f7f7f7;
        color: $base-color;
        top: 36px;
        transform: translateX(-152px);
        width: 200px;
        padding: 5px 10px;
        border-radius: 11px;
        border: 1px solid #aaaaaa70;
        border-top-right-radius: 0;

        span {
          display: inline-block;
        }
      }
    }

    .contents {
      height: calc(100vh - 40px);
      display: grid;

      textarea {
        @extend .scroll;

        padding: 0 20px 40px 20px;
        color: $base-color;

        width: 100%;
        height: 100%;
        font-family: 'Noto Sans KR';
        font-size: 16px;
        line-height: 1.8;
        border: none;
      }

      article {
        @extend .scroll;

        color: $base-color;
        overflow-y: scroll;
        overflow-wrap: break-word;
        padding: 0 20px 40px 20px;
        height: 100%;
        font-size: 16px;
        font-family: 'Noto Sans KR';

        * {
          line-height: 1.8;
          outline: none;
          white-space: pre-wrap;
          min-height: 28.8px;
          margin: 0;
          letter-spacing: 0 !important;
        }

        header {
          > h1 {
            line-height: 1.3 !important;
            @include article-header(40px);
            color: $text-color;
            margin-bottom: 40px !important;
          }
        }

        h1 {
          @include article-header(30px);
        }

        h2 {
          @include article-header(22px);
        }

        h3 {
          @include article-header(18px);
        }

        h6 {
          @include article-header(16px);
          color: #aaaaaa;
          margin: 0;
        }

        code {
          font-family: 'Ubuntu Mono' !important;
          color: #282c35;
          background-color: #dddddd40;
          border: 1px solid #dddddd;
          padding: 2px 4px;
          border-radius: 5px;
          line-height: 1 !important;
          white-space: nowrap !important;
        }

        blockquote {
          border-left: 6px solid $base-color;
          padding: 10px;
          margin: 0;
          min-height: 48.8px;
        }

        pre {
          background-color: #282c35;
          border-radius: 9px;
          overflow-x: auto;
          padding: 20px;

          &::-webkit-scrollbar {
            height: 3px;
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb {
            background: #aaaaaa;
          }

          code {
            * {
              font-family: 'Ubuntu Mono' !important;
              line-height: 1.5 !important;
            }

            color: #abb2bf;
            display: block;
            overflow-x: auto;
            width: max-content;
            line-height: 1.5 !important;
            padding: 0 !important;
            background-color: transparent !important;
            border-radius: 0;
            border: none;
            white-space: pre-wrap !important;
            min-height: 24px !important;
          }
        }

        a {
          color: #999999;
          cursor: pointer;
        }

        ul {
          margin: 0;
          padding: 0 0 0 25px;
        }

        ol {
          margin: 0;
          padding: 0 0 0 25px;

          li {
            padding-left: 5px;
          }
        }

        mark {
          background: #ffd70020;
          padding: 0 4px;
        }

        img {
          max-width: 600px;
          display: block;
          margin: 10px auto;
        }

        table {
          border-collapse: collapse;
          width: 100%;

          thead {
            background-color: #f3f3f3;

            th {
              border-top: 1px solid #aaaaaa;
              border-bottom: 1px solid #aaaaaa;
              padding: 0 20px;
            }
          }

          tbody {
            td {
              padding: 4px 20px;
            }

            tr:not(.add-row) {
              td:not(.add-column) {
                border-bottom: 1px solid #aaaaaa;
              }
            }

            .add-row {
              background-color: #eeeeee;
              min-height: 30px;
              text-align: center;
              border: none;
            }

            .add-column {
              background-color: #eeeeee;
              width: 30px;
              text-align: center;
              border: none;
            }
          }
        }
      }
    }
  }
}

#popup {
  .info {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-grid;
      grid-template-columns: 60px auto;
      width: 100%;
      border-bottom: 1px solid #aaaaaa90;
      padding: 6px 2px;

      input[type='text'] {
        width: inherit;
        background-color: transparent;
        outline: none;
        border: none;
        color: $text-color;
        padding: 0;
      }

      .checkbox {
        width: inehrit;
        display: inline-grid;
        grid-template-columns: 1fr 1fr;

        label {
          display: inline-flex;
          align-items: center;
          gap: 5px;

          input[type='checkbox'] {
            display: none;
          }

          span {
            @include icon(checkbox);
            display: block;
          }
        }
      }
    }
  }

  .rename {
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $text-color;
    padding: 6px;
    color: $text-color;
  }

  .create {
    display: flex;
    flex-direction: column;
    gap: 20px;

    div {
      display: inline-flex;
      gap: 20px;

      input[type='radio'] {
        display: none;

        &:checked + label {
          border-width: 2px;
          margin: 0;
          opacity: 0.7;
        }
      }

      label {
        @extend .flex-center;
        width: 100%;
        height: 60px;
        background-color: #00000070;
        border-radius: 9px;
        opacity: 0.3;
        border: 1px solid $text-color;
        margin: 1px;
        cursor: pointer;

        img {
          width: 30px;
          height: 30px;
          filter: $image-filter;
        }
      }
    }

    input[type='text'] {
      outline: none;
      border: none;
      background-color: transparent;
      color: $text-color;
      padding: 6px 10px;
      border-bottom: 1px solid $text-color;
    }
  }
}

@media (width <= 520px) {
  #body {
    grid-template-columns: 1fr;
    width: 100%;
    
    > div {
      width: 100%;
      gap: 6px !important;
    }
  }

  #work {
    .details {
      .divider::after {
        margin: 0 4px !important;
      }
    }
  }
}

@media (520px < width <= 630px) {
  #body {
    grid-template-columns: 1fr;
    width: 100%;
    
    > div {
      width: 100%;
    }
  }
}

@media (630px < width <= 1200px) {
  #body {
    grid-template-columns: 1fr;

    > div {
      width: 600px;
    }
  }
}

@media (1200px < width <= 1700px) {
  #body {
    grid-template-columns: 1fr 1fr;

    > div {
      width: 560px;
    }
  }

  #admin .view,
  #archive .view {
    height: 210px !important;
  }
}

@media (width > 1700px) {
  #body {
    grid-template-columns: 1fr 1fr 1fr;

    > div {
      width: 530px;
    }
  }

  #admin .view,
  #archive .view {
    height: 204px !important;
  }
}
