* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $base-color;
  overflow: hidden;
  user-select: none;
  color: $text-color;
  font-family: 'galmuri9';
  letter-spacing: 1px;
  font-size: 14px;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#root {
  @extend .scroll;
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
  height: 100vh;
  overflow-x: hidden;

  #container {
    @extend .base-view;
    width: 100%;
    margin: 0 auto;
    justify-content: flex-start;
    transform: scale(1);
    transform-origin: top;
    align-items: center;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;

      img {
        width: 110px;
        margin: 30px 0 20px 0;
        filter: grayscale(1) brightness(90%);
      }

      h1 {
        margin: 0;
        font-size: 20px;
        font-family: 'galmuri11';
        letter-spacing: 2px;
      }
    }

    #body {
      display: grid;
      gap: 30px;
      height: 100%;
      margin: 0 auto;

      > div {
        height: inherit;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }

    footer {
      padding: 15px 0;
      text-align: center;

      span {
        font-size: 12px;
        letter-spacing: 1px;
        opacity: 0.6;
        margin: 3px 0;
      }
    }
  }
}

@media (width <= 630px) {
  #body {
    grid-template-columns: 1fr;
    width: 100%;

    > div {
      width: 100%;
    }
  }
}

@media (630px < width <= 1200px) {
  #body {
    grid-template-columns: 1fr;

    > div {
      width: 600px;
    }
  }
}

@media (1200px < width <= 1700px) {
  #body {
    grid-template-columns: 1fr 1fr;

    > div {
      width: 560px;
    }
  }

  #admin .view,
  #archive .view {
    height: 210px !important;
  }
}

@media (width > 1700px) {
  #body {
    grid-template-columns: 1fr 1fr 1fr;

    > div {
      width: 530px;
    }
  }

  #admin .view,
  #archive .view {
    height: 204px !important;
  }
}

.showdown {
  @extend .scroll;

  color: $base-color;
  overflow-y: scroll;
  overflow-wrap: break-word;
  padding: 0 20px 40px 20px;
  height: 100%;
  font-size: 16px;
  font-family: 'Noto Sans KR';

  * {
    line-height: 1.8;
    letter-spacing: 0 !important;
  }
  
  > p {
    margin: 40px 0 !important;
  }

  header {
    > h1 {
      line-height: 1.3 !important;
      @include article-header(40px);
      color: $text-color;
      margin: 0 !important;
      margin-bottom: 40px !important;
    }
  }

  h1 {
    @include article-header(30px);
  }

  h2 {
    @include article-header(24px);
  }

  h3 {
    @include article-header(18px);
  }

  h6 {
    @include article-header(16px);
    color: #aaaaaa;
    margin: 0;
  }

  code {
    font-family: 'Ubuntu Mono' !important;
    color: #282c35;
    background-color: #dddddd40;
    border: 1px solid #dddddd;
    padding: 2px 4px;
    border-radius: 5px;
    line-height: 1 !important;
    white-space: nowrap !important;
  }

  blockquote {
    border-left: 6px solid $base-color;
    padding: 10px;
    min-height: 48.8px;
    margin: 40px 0;

    p {
      margin: 0;
    }
  }

  pre {
    background-color: #282c35;
    border-radius: 9px;
    overflow-x: auto;
    padding: 20px;

    &::-webkit-scrollbar {
      height: 3px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #aaaaaa;
    }

    code {
      * {
        font-family: 'Ubuntu Mono' !important;
        line-height: 1.5 !important;
      }

      color: #abb2bf;
      display: block;
      overflow-x: auto;
      width: max-content;
      line-height: 1.5 !important;
      padding: 0 !important;
      background-color: transparent !important;
      border-radius: 0;
      border: none;
      white-space: pre-wrap !important;
      min-height: 24px !important;
    }
  }

  a {
    color: #999999;
    cursor: pointer;
  }

  ul {
    margin: 0;
    padding: 0 0 0 25px;
  }

  ol {
    margin: 0;
    padding: 0 0 0 25px;

    li {
      padding-left: 5px;
    }
  }

  mark {
    background: #ffd70020;
    padding: 0 4px;
  }

  img {
    max-width: 600px;
    display: block;
    margin: 0 auto !important;
  }

  hr {
    min-height: 1px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid $text-color;
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin: 0;
    }

    figcaption {
      color: #aaaaaa;
      font-size: 14px;
      font-style: italic;
      white-space: normal;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    thead {
      background-color: #f3f3f3;

      th {
        border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
        padding: 0 20px;
      }
    }

    tbody {
      td {
        padding: 4px 20px;
      }

      tr:not(.add-row) {
        td:not(.add-column) {
          border-bottom: 1px solid #aaaaaa;
        }
      }

      .add-row {
        background-color: #eeeeee;
        min-height: 30px;
        text-align: center;
        border: none;
      }

      .add-column {
        background-color: #eeeeee;
        width: 30px;
        text-align: center;
        border: none;
      }
    }
  }
}

// Article Style

article {
  @extend .scroll;

  color: $base-color;
  overflow-y: scroll;
  overflow-wrap: break-word;
  padding: 0 20px 40px 20px;
  height: 100%;
  font-size: 16px;
  font-family: 'Noto Sans KR';

  * {
    line-height: 1.8;
    outline: none;
    white-space: pre-wrap;
    min-height: 28.8px;
    margin: 0;
    letter-spacing: 0 !important;
  }

  header {
    > h1 {
      line-height: 1.3 !important;
      @include article-header(40px);
      color: $text-color;
      margin-bottom: 40px !important;
    }
  }

  h1 {
    @include article-header(30px);
  }

  h2 {
    @include article-header(24px);
  }

  h3 {
    @include article-header(18px);
  }

  h6 {
    @include article-header(16px);
    color: #aaaaaa;
    margin: 0;
  }

  code {
    font-family: 'Ubuntu Mono' !important;
    color: #282c35;
    background-color: #dddddd40;
    border: 1px solid #dddddd;
    padding: 2px 4px;
    border-radius: 5px;
    line-height: 1 !important;
    white-space: nowrap !important;
  }

  blockquote {
    border-left: 6px solid $base-color;
    padding: 10px;
    margin: 0;
    min-height: 48.8px;
  }

  pre {
    background-color: #282c35;
    border-radius: 9px;
    overflow-x: auto;
    padding: 20px;

    &::-webkit-scrollbar {
      height: 3px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #aaaaaa;
    }

    code {
      * {
        font-family: 'Ubuntu Mono' !important;
        line-height: 1.5 !important;
      }

      color: #abb2bf;
      display: block;
      overflow-x: auto;
      width: max-content;
      line-height: 1.5 !important;
      padding: 0 !important;
      background-color: transparent !important;
      border-radius: 0;
      border: none;
      white-space: pre-wrap !important;
      min-height: 24px !important;
    }
  }

  a {
    color: #999999;
    cursor: pointer;
  }

  ul {
    margin: 0;
    padding: 0 0 0 25px;
  }

  ol {
    margin: 0;
    padding: 0 0 0 25px;

    li {
      padding-left: 5px;
    }
  }

  mark {
    background: #ffd70020;
    padding: 0 4px;
  }

  img {
    max-width: 600px;
    display: block;
    margin: 10px auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    thead {
      background-color: #f3f3f3;

      th {
        border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
        padding: 0 20px;
      }
    }

    tbody {
      td {
        padding: 4px 20px;
      }

      tr:not(.add-row) {
        td:not(.add-column) {
          border-bottom: 1px solid #aaaaaa;
        }
      }

      .add-row {
        background-color: #eeeeee;
        min-height: 30px;
        text-align: center;
        border: none;
      }

      .add-column {
        background-color: #eeeeee;
        width: 30px;
        text-align: center;
        border: none;
      }
    }
  }
}

input#file-name {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $text-color;
  padding: 6px;
  color: $text-color;
}