html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'galmuri7';
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 90px 0 120px 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 640px;
}

#app nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  gap: 30px;
  margin-bottom: 30px;
}

#app nav h3 {
  text-shadow: 2px 2px 0 #cc99ff, -1px 1px 0 #cc99ff, 1px -1px 0 #cc99ff, -1px -1px 0 #cc99ff;
  letter-spacing: 1px;
  display: inline-block;
  margin: 0;
  color: #e5ccff;
}

#app nav .tags {
  font-size: 14px;
  padding: 0 30px;
  font-family: 'Galmuri7';
}

#app nav .tags ul {
  list-style: none;
}

#app nav .tags * {
  margin: 0;
  padding: 0;
}

#app nav .tags ul li {
  display: inline-block;
  background-color: #dddddd;
  color: white;
  padding: 2px 8px 4px 10px;
  margin: 0 10px;
  box-shadow:
    2px 0 0 0 #dddddd,
    0 2px 0 0 #dddddd,
    -2px 0 0 0 #dddddd,
    0 -2px 0 0 #dddddd;
  cursor: pointer;
}

#app nav .tags li.selected {
  color: white;
  background-color: black;
  box-shadow:
    2px 0 0 0 black,
    0 2px 0 0 black,
    -2px 0 0 0 black,
    0 -2px 0 0 black;
}

#app #wrapper {
  height: 100%;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

#app section {
  display: flex;
  gap: 20px;
  height: 100%;
  margin-bottom: 30px;
}

/* #day-section main {
  width: 440px;
  height: 100%;
}

#day-section main::-webkit-scrollbar {
  display: none;
}

#day-section main.empty {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .post {
  font-family: 'galmuri7';
  font-size: 16px;
  padding: 3px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: calc(1 * 420px);
  overflow: hidden;
  gap: 30px;
} */

#day-section main {
  width: 460px;
  height: calc(100% - 12px);
  margin: 6px 3px;
}

#day-section main::-webkit-scrollbar {
  display: none;
}

.articles {
  display: grid;
  grid-template-rows: repeat(3, 100%);
  gap:10px;
  height: calc(100% - 3px);
  scroll-behavior: smooth;
  overflow-y: hidden;
  padding-bottom: 3px;
}

.articles::-webkit-scrollbar {
  display: none;
}

.articles article {
  margin: 0 4px 0 6px;
  height: 100%;
  overflow-y: scroll;
}

.articles article::-webkit-scrollbar {
  display: none;
}

.articles article figure {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 20px;
}

.articles article .f-1 img {
  width: 100%;
}

.articles article .f-4 img {
  width: calc(50% - 1px);
  background-color: #efefef;
}

q {
  display: block;
  border-left: 6px solid #dddddd;
  padding-left: 10px;
}

q::before {
  content: none;
}

#day-section aside {
  gap: 24px;
  display: grid;
  overflow-y: hidden;
  grid-template-rows: 37px 1fr;
  width: calc(100% - 480px);
}

.years {
  margin: 6px 3px;
  text-align: center;
  height: 29px;
  align-items: center;
  background-color: #e5ccff !important;
  border-color: #cc99ff !important;
}

.years::before {
  background-color: #e5ccff !important;
}

.years::after {
  background-color: #cc99ff !important;
}

.years::after {
  top: 4px;
}

.years div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.years span:nth-child(1),
.years span:nth-child(3) {
  font-size: 11px;
}


.years span:nth-child(2) {
  padding: 0 16px;
}

/* .years .current-year {
  padding: 3px 10px;
  border-right: 3px solid #cc99ff;
  box-shadow:
    3px 0 0 0 black,
    -3px 0 0 0 black;
  background-color: #e5ccff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.years .current-year span:nth-child(2) {
  margin: 0 40px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.years .current-year span:nth-child(1),
.years .current-year span:nth-child(3) {
  font-size: 9px;
  cursor: pointer;
}

.years .current-year span:nth-child(1):hover,
.years .current-year span:nth-child(3):hover {
  color: red;
} */

/* .years .pixel-top {
  background-color: #e5ccff;
  box-shadow:
    3px 0 0 0 black,
    -3px 0 0 0 black,
    0 -3px 0 0 black;
}

.years .pixel-bottom {
  background-color: #cc99ff;
  box-shadow:
  3px 0 0 0 black,
  -3px 0 0 0 black,
  0 3px 0 0 black;
} */

#day-section .list {
  margin: 6px 3px;
  background-color: white;
  font-size: 14px;
}

#day-section .list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(100% - 3px);
  overflow-y: scroll;
}

#day-section .list ul::-webkit-scrollbar {
  display: none;
}

#day-section .list ul li {
  padding: 7px 10px;
  cursor: pointer;
}

#day-section .list ul li:hover {
  background-color: rgba(229, 204, 255, 0.3);
}

/* #day-list .list article:hover {
  background-color: rgba(229, 204, 255, 0.3);
}

#day-list .list article.selected {
  color: #cc99ff;
  background-color: rgba(229, 204, 255, 0.3);
} */

/* .pixel-top {
  width: calc(100% - 6px);
  height: 3px;
  display: block;
  background-color: white;
  margin: 0 3px;
  box-shadow:
    3px 0 0 0 black,
    -3px 0 0 0 black,
    0 -3px 0 0 black;
}

.pixel-bottom {
  width: calc(100% - 6px);
  height: 3px;
  display: block;
  background-color: #dddddd;
  margin: 0 3px;
  box-shadow:
    3px 0 0 0 black,
    -3px 0 0 0 black,
    0 3px 0 0 black;
} */

#book-section {
  align-items: flex-start;
  overflow-y: scroll;
}

#book-section main {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 0;
  justify-content: left;
  column-gap: 22px;
}

#book-section::-webkit-scrollbar {
  display: none;
}

/* #book-section .thumbnail::before {
  display: block;
  width: 180px;
  height: 3px;
  content: '';
  background-color: white;
  box-shadow: 
    3px 0 0 0 black,
    -3px 0 0 0 black,
    0 -3px 0 0 black;
  margin: 0 3px;
  position: relative;
  bottom: 3px;
}

#book-section .thumbnail::after {
  display: block;
  width: 180px;
  height: 3px;
  content: '';
  background-color: #dddddd;
  box-shadow: 
    3px 0 0 0 black,
    -3px 0 0 0 black,
    0 3px 0 0 black;
  margin: 0 3px;
  position: relative;
  bottom: 6px;
} */

#book-section .book {
  display: block;
  background-color: white;
  width: calc((100% - 62px) / 3);
  margin: 0 3px 33px 3px;
  border-right: 3px solid #dddddd;
  box-shadow:
    3px 0 0 0 black,
    -3px 0 0 0 black;
  text-align: center;
}

#book-section .book img {
  width: calc(100% - 12px);
  height: calc(100% - 8px);
  margin-bottom: 2px;
}

#book-section article {
  position: absolute;
  width: 636px;
  background-color: rgba(255, 255, 255, 0.96);
  height: 541px;
  top: 200px;
  padding: 20px;
}

#book-section article h3 {
  font-weight: normal;
  margin: 0;
  margin-bottom: 3px;
}

#book-section article button {
  font-family: 'Galmuri7';
  border: none;
  background-color: #e5ccff;
  float: right;
  font-size: 14px;
  box-shadow:
    3px 0 0 0 #e5ccff,
    0 3px 0 0 #e5ccff,
    -3px 0 0 0 #e5ccff,
    0 -3px 0 0 #e5ccff;
  padding: 1px 4px 3px 8px;
  margin: 3px 3px 0 0;
  color: white;
}

#book-section article button:hover {
  background-color: #cc99ff;
  box-shadow:
  3px 0 0 0 #cc99ff,
  0 3px 0 0 #cc99ff,
  -3px 0 0 0 #cc99ff,
  0 -3px 0 0 #cc99ff;
}

#zukebox-section {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#zukebox-section::-webkit-scrollbar {
  display: none;
}

#zukebox-section .list {
  list-style: none;
  padding: 3px;
  margin: 3px 0;
  display: flex;
  flex-direction: column;
  gap: 33px; 
}

#zukebox-section .list li::after {
  top: 3px;
}

#zukebox-section .info {
  display: grid;
  grid-template-columns: 116px 1fr;
  margin-bottom: 3px;
}

#zukebox-section .info img {
  width: 100px;
  height: 100px;
  margin: 0 6px;
}

#zukebox-section .info ul {
  padding: 0;
  margin: 0;
  font-family: 'Galmuri7';
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#zukebox-section .info ul li {
  padding: 0;
  margin: 4px 0;
  cursor: pointer;
}

#zukebox-section .info ul {
  padding-bottom: 6px;
}

#zukebox-section .info span {
  display: inline;
  background-color: #e5ccff;
  margin-right: 10px;
  padding: 1px 6px 3px 6px;
  box-shadow:
    2px 0 0 0 #e5ccff,
    0 2px 0 0 #e5ccff,
    -2px 0 0 0 #e5ccff,
    0 -2px 0 0 #e5ccff;
  color: #ffffff;
  font-size: 11px;
}

#zukebox-section .video iframe {
  border: none;
  width: calc(100% - 12px);
  margin: 3px 6px 0 6px;
}

.show {
  animation: show 1s forwards;
}

.hide {
  animation: hide 1s forwards;
}

.focus {
  animation: focus 1s forwards;
}

@keyframes focus {
  0% {
    opacity: 0;
  }

  100% {
    opactiy: 1;
  }
}

@keyframes hide {
  0% {
    height: 340px;
    opacity: 1;
  }

  100% {
    height: 0px;
    opacity: 0;
  }
}

@keyframes show {
  0% {
    height: 0px;
    opacity: 0;
  }

  100% {
    height: 340px;
    opacity: 1;
  }
}




/* #zukebox-section ul li img {
  height: calc(100% - 6px);
  border-radius: 50%;
  margin: 0 10px;
} */

/* #zukebox-section .top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

#zukebox-section .bottom {
  background-color: green;
  width: 100%;
  height: 50%;
}

#zukebox-section .top ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  overflow-x: scroll;
  width: 500px;
}

#zukebox-section .top ul li {
  width: 200px;
  height: 200px;
  display: flexbox;
}

#zukebox-section .top ul li img {
  width: 100%;
  height: 100%;
} */

/* #zukebox-section .top ul li:nth-child(1),
#zukebox-section .top ul li:nth-child(5) {
  width: 50px;
  height: 50px;
}

#zukebox-section .top ul li:nth-child(2),
#zukebox-section .top ul li:nth-child(4) {
  width: 110px;
  height: 110px;
}

#zukebox-section .top ul li:nth-child(3) {
  width: 170px;
  height: 170px;
} */

/* #zukebox-section .top ul li:nth-child(1)::after,
#zukebox-section .top ul li:nth-child(5)::after {
  top: 25px;
}

#zukebox-section .top ul li:nth-child(2)::after,
#zukebox-section .top ul li:nth-child(4)::after {
  top: 85px;
}

#zukebox-section .top ul li:nth-child(3)::after {
  top: 145px;
} */

#zukebox-section iframe {
  width: 100%;
  height: calc(100% - 6px);
}

#zukebox-section .controls {
  
}

#zukebox-section .controls ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#zukebox-section .controls ul li:nth-child(2) {
  font-size: 30px;
}

#zukebox-section .controls ul li:nth-child(1),
#zukebox-section .controls ul li:nth-child(3) {
  font-size: 13px;
}

/* #admin-section main {
  margin: 6px 3px;
  width: 100%;
  height: calc(100% - 12px);
} */

#admin-section main {
  width: 100%;
}

/* #admin-section main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 9px);
  margin: 0 6px 6px 6px;
} */


#admin-section main #api-key-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 6px;
}

#admin-section #api-key-box .auth-result {
  width: 264px;
  padding: 0 3px;
  font-size: 14px;
}

#admin-section input {
  border: none;
  margin: 0;
  border-bottom: 3px solid black;
  height: 33px;
  font-family: 'Galmuri7';
  outline: none;
  font-size: 14px;
  width: 200px;
}

#admin-section input::placeholder {
  color: #bbbbbb;
}

#admin-section button {
  border: none;
  background-color: #000000;
  font-family: 'Galmuri7';
  width: fit-content;
  font-size: 14px;
  color: #ffffff;
  box-shadow:
    3px 0 0 0 #000000,
    0 3px 0 0 #000000,
    -3px 0 0 0 #000000,
    0 -3px 0 0 #000000;
  padding: 2px 8px 4px 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 18px;
}


/* #zukebox-section .top ul {
  overflow-x: scroll;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
  display: table;
}

#zukebox-section .top li {
  width: 200px;
  height: 200px;
  background-color: black;
  list-style: none;
  display: table-cell;
} */

/* #zukebox-section aside {
  width: 50%;
  height: calc(100% - 12px);
  margin: 6px 3px 0px 3px;
}

#zukebox-section aside::after {
  top: calc(100% - 25px);
}

#zukebox-section main {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#zukebox-section .thumbnail {
  height: calc(50% - 21px);
  height: 293px;
  width: calc(100% - 3px);
  margin: 6px 0 0 0;
}

#zukebox-section .thumbnail iframe {
  width: calc(100% - 12px);
  height: calc(100% - 9px);
  margin: 0 6px 3px 6px;
  border: none;
}

#zukebox-section .list {
  height: calc(50% - 21px);
  height: calc(100% - 335px);
  width: calc(100% - 3px);
}

#zukebox-section .list::after {
  top: calc(100% - 25px);
} */

/* #zukebox-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#zukebox-section main {
  margin: 6px 3px 0 3px;
  height: 50%;
}

#zukebox-section main iframe {
  margin: 0 6px 3px 6px;
  border: none;
  width: calc(100% - 12px);
  height: calc(100% - 9px);
}

#zukebox-section aside {
  display: flex;
  height: 50%;
} */

.pixel-box::before {
  content: '';
  display: block;
  background-color: #ffffff;
  box-shadow: 
    3px 0 0 0 black,
    -3px 0 0 0 black,
    0 -3px 0 0 black;
  height: 3px;
  position: relative;
  margin-left: 3px;
  bottom: 3px;
}

.pixel-box {
  box-shadow:
    3px 0 0 0 black,
    -3px 0 0 0 black;
  background-color: #ffffff;
  border-right: 3px solid #dddddd;
}

.pixel-box::after {
  display: block;
  box-shadow: 
    3px 0 0 0 black,
    -3px 0 0 0 black,
    0 3px 0 0 black;
  content: '';
  background-color: #dddddd;
  height: 3px;
  position: relative;
  margin-left: 3px;
}

#intro-section {
  flex-direction: column;
}

#intro-section div {
  width: 100%;
  font-size: 60px;
  font-family: 'Galmuri11';
  font-weight: bold;
}